*.iml
*.class
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
GeneratedPluginRegistrant.java
constants.xml
.env.*.secret
fastlane/report.xml
google-services.json
